@model TerritorioViewModel

<div id="mensagem">

</div>

@using (Ajax.BeginForm("Adicionar", "Territorio", new AjaxOptions
{
    OnBegin = "Carregando",
    OnComplete = "Concluido",
    UpdateTargetId = "mensagem",
    HttpMethod = "POST",
    OnSuccess = "Sucesso",
    OnFailure = "Error"
}, new { @id = "formAdicionar" }))
{

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adicionar Território</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "São Miguel, Itaim Paulista ..." } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    function Sucesso(resposta) {
        document.getElementById('formAdicionar').reset();
    }
    function Error(resposta) {

    }
    function Carregando() {
        $("#myModal").modal('show');
    }
    function Concluido() {
        $("#myModal").modal('hide');
    }
</script>