<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Html.Partial("_PartialEstilos")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/mapa.css" rel="stylesheet" />
    <script src="~/Scripts/funcoes.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Controle de Mapas", "Index", "ControleMapas/Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mapas<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="trigger right-caret">Mapa</a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li><a href="/ControleMapas/Mapa/Adicionar">Cadastrar</a></li>
                                        <li><a href="#">Todos os mapas</a></li>
                                        <li><a href="/ControleMapas/Mapa/Impressao">Impressão</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="trigger right-caret">Foto</a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li><a href="#">Cadastrar</a></li>
                                        <li><a href="#">Listar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="trigger right-caret">Configuração</a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li>
                                            <a class="showModal" href="/ControleMapas/Mapa/Configuracoes">Listar Configurações</a>
                                        </li>
                                        <li>
                                            <a class="trigger right-caret">Letras dos Mapas</a>
                                            <ul class="dropdown-menu sub-menu">
                                                <li><a href="#" onclick="ModalAdicionar('/ControleMapas/Letra/Adicionar')">Adicionar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="trigger right-caret">Saídas</a>
                                            <ul class="dropdown-menu sub-menu">
                                                <li><a href="#" onclick="ModalAdicionar('/ControleMapas/Saida/Adicionar')">Adicionar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="trigger right-caret">Territórios</a>
                                            <ul class="dropdown-menu sub-menu">
                                                <li><a href="#" onclick="ModalAdicionar('/ControleMapas/Territorio/Adicionar')">Novo</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Surdos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/ControleMapas/Surdo/Lista">Listar</a></li>
                                <li><a href="/ControleMapas/Surdo/Adicionar">Adicionar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                        <h4 class="modal-title" id="myModalLabel">Carregando...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-carregando">
                            <img src="@Url.Content("~/Content/images/carregando.gif")" />
                            <br />
                            Carregando...
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_PartialModalConfig")

        <div id="body-section" class="container">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div>
            @Html.Partial("_PartialFooter")
        </div>
    </footer>


    @Html.Partial("_PartialScripts")


    <script>
        $('#myModal').modal({
            show: false,
            backdrop: false
        })

        $(document).ready(function () {
            if ("@ViewContext.RouteData.Values["action"].ToString()" == "Impressao") {
                $("#body-section").removeClass("container");
            }
        });

        $(function () {
            $(".dropdown-menu > li > a.trigger").on("click", function (e) {
                var current = $(this).next();
                var grandparent = $(this).parent().parent();
                if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                    $(this).toggleClass('right-caret left-caret');
                grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                grandparent.find(".sub-menu:visible").not(current).hide();
                current.toggle();
                e.stopPropagation();
            });
            $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
                var root = $(this).closest('.dropdown');
                root.find('.left-caret').toggleClass('right-caret left-caret');
                root.find('.sub-menu:visible').hide();
            });
        });

        function ModalAdicionar(url) {
            $.ajax(
                    {
                        type: 'GET',
                        url: url,
                        dataType: 'html',
                        cache: false,
                        async: true,
                        beforeSend: function () {
                            $('#myModal').modal('show');
                        },
                        success: function (data) {
                            $('#tituloFooter').text("Adicionando ...");
                            $('#conteudoModal').html(data);
                            $('#modalConfiguracao').modal('show');
                        },
                        complete: function () {
                            $('#myModal').modal('hide');
                        }
                    });
        };

        $('.showModal').click(function () {
            $('#myModal').modal('show');
        });
    </script>


    @RenderSection("ScriptsImpressao", false)
    @RenderSection("ChamadaAjax", false)
</body>
</html>