<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Html.Partial("_PartialEstilos")

    <script src="~/Scripts/funcoes.js"></script>
</head>
<body>
    <header>
        @Html.Partial("_PartialMenu")
    </header>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer>
        @Html.Partial("_PartialFooter")
    </footer>

    @* Scripts *@
    @Html.Partial("_PartialScripts")

    @RenderSection("scriptsForm", false)
</body>
</html>
